@import "../../style/styleguide.scss";
@import "../../style/breakpoints.scss";

.modalBackdrop {
    transition: all 0.3s ease;
    opacity: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    animation: fadeIn 0.3s ease;

}

.modal {
    transition: all 0.3s ease;
    width: 500px;
    max-width: 70%;

    background-color: $background-color;
    border-radius: 10px;
    padding: 18px 40px;
    animation: enter 0.3s ease;

    @include respond-to("tablet") {
        padding: 30px;
    }
}

.modalImg {
    border-radius: 50%;
    height: 100px;
    width: 100px;
}


.closeBtn {
    background-color: transparent;
    border-radius: 30px;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 25px;
    margin-top: 19px;
    outline: none;
    border: solid $primary-color ;
    font-weight: 600;
    transition: 0.3s all ease;

}

.closeBtn:hover,
.closeBtn:focus {
    border-color: $on-background-color;
}

.saveBtn {
    background-color: $primary-color;
    border-radius: 30px;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 25px;
    margin-top: 19px;
    outline: none;
    border: solid $primary-color ;
    font-weight: 600;
    transition: 0.3s all ease;

}

.saveBtn:hover,
.saveBtn:focus {
    border-color: $on-background-color;
    color: #ffff;
}


.row {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
}

.mainInfo {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 5px;
    text-align: start;
}

.line {
    background-color: $accent-color;
    height: 2px;
    width: 60px;
    margin-bottom: 10px;
}

.name {
    font-weight: bold;
    font-size: 20px;
    text-align: start;
    margin-bottom: 2px;
}

.separator {
    width: 30px;
    height: 10px;
}

.loader {
    animation: spin 1s linear infinite;
    margin-top: 20px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes enter {
    0% {
        transform: translateY(120%);
    }

    100% {
        transform: translateY(0%);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}