@import "../../style/styleguide.scss";
@import "../../style/breakpoints.scss";

.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.title {
    font-weight: bold;
    font-size: 24px;
}

.titleLine,
.line {
    background-color: $accent-color;
    height: 2px;
    width: 60px;
}

.titleLine {
    margin-top: 10px;
    margin-bottom: 50px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, minmax(250px, 25%));
    gap: 80px 30px;
    padding: 0;
    width: 100%;
    align-items: start;

    @include respond-to("tablet") {
        grid-template-columns: repeat(2, minmax(250px, 50%));
        gap: 80px 30px;
    }

    @include respond-to("mobile") {
        grid-template-columns: repeat(1, minmax(250px, 100%));
        gap: 80px 0px;
    }
}


.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.avatar {
    width: 100%;
    border-radius: 0px 0 25% 0;

}

.line {
    margin-top: 20px;
    margin-bottom: 10px;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: start;
    width: 100%;
}

.textBody {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 100%;
    text-align: start;
}

.name {
    font-weight: bold;
    font-size: 20px;
}

.mainInfo {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 5px;
}

.webLink,
.editButton {
    transition: all 0.5s ease;
    color: $primary-color;
    cursor: pointer;

}

.webLink,
.editButton,
.invalidWeb {
    font-size: 30px;
}


.readMore {
    transition: all 0.3s ease;
    margin-top: 7px;
    cursor: pointer;
    font-weight: 200;
    font-size: 13px;
    width: 100%;
}

.readMore:hover {
    color: $accent-color;
    text-decoration: underline;
}

.invalidWeb {
    color: rgb(168, 168, 168);
    cursor: default;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;

}

.editButton {
    margin-bottom: 15px;
    color: $accent-color;
}

.editButton:hover,
.webLink:hover {
    color: $on-background-color;
}