$primary-color: #5d29fa;
$on-background-color: #fcfcfc;
$background-color: #1d212f;
$accent-color: #d8ee17;
$border-color: #f0f0f0;
$error-color: #ff0000;

$body-font-family: 'Manrope';
$heading-font-family: 'Ubuntu';